.aboutMeBuffer {
  height: 350vh;
}
.aboutMe {
  margin-top: 0vh;
  height: 120vh;
  width: 100vw;

  position: sticky;
  position: -webkit-sticky;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  font-family: inter;
  font-weight: 500;

  transform: scale(0.9);

  top: 0;

  perspective: 30vh;
}

$color1: rgb(20, 21, 22);
$color2: rgb(13, 14, 16);
$purple: rgb(141, 24, 229);
$orange: rgb(227, 108, 27);
.orange {
  color: $orange;
}

.column1,
.column2 {
  margin-top: 10vh;
  width: 90%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column1 {
  // animation: test1 10s ease-in-out forwards;
  transform: translate3d(0vh, 0vh, 0vh);
  transition: 0.05s;
  z-index: 1;
}
.column2 {
  transform: translate3d(0vh, -25vh, -10vh);
  filter: blur(0.9vh);
  // animation: test2 10s ease-in-out forwards;
  transition: 0.05s;
  z-index: 0;
}

.parallaxRef {
  position: absolute;
  top: 250vh;
}

.me {
  width: 90%;
  height: 90%;
  border-radius: 2vh;

  background-color: $color1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: 0px 0px 1vh 0.5vh rgba(17, 17, 17, 0.466);
}
.icon {
  width: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    width: 4vw;
    height: 4vw;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: white;
    margin-top: 2vh;

    background: rgb(203, 0, 240);
    background: linear-gradient(
      90deg,
      rgba(203, 0, 240, 1) 0%,
      rgba(38, 85, 217, 1) 26%,
      rgba(167, 57, 247, 1) 67%,
      rgba(0, 117, 255, 1) 100%
    );

    background-size: 300% 300%;
  }

  p {
    margin-top: 1vh;
    font-size: 2vh;
  }
}

.content {
  width: 85%;
  height: 90%;
  border-radius: 2vh;
  text-align: center;

  background-color: $color2;

  h1 {
    margin-top: 1vh;
    padding: 1vh;
    font-size: 4.5vh;
    color: $purple;
    font-weight: 700;
  }
  p {
    font-size: 1.7vh;
  }
}
.contentContainer {
  margin-top: -1vh;
  width: 100%;
  height: 80%;

  display: flex;

  align-items: center;
  justify-content: space-evenly;

  h3 {
    position: relative;
    top: 0;
    font-size: 3vh;
    font-weight: 700;

    color: $purple;

    height: 10%;
  }

  p {
    font-size: 2vh;
    width: 80%;
    height: 50%;
  }

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.whatIUse {
  width: 50vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .column {
    width: 90%;
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    div {
      width: 5vh;
      height: 5vh;

      background-size: 100% 100%;
    }
  }
}
@media (max-width: 480px) {
  .column1,
  .column2 {
    width: 100%;
  }
  .icon {
    height: 10%;
    width: 90%;
    transform: scale(1.5);
    h2 {
      transform: scale(2.5);
      svg {
        transform: scale(0.5);
      }
    }
    p {
      font-size: 2vh;
      padding: 1vh;
    }
  }
  .me {
    flex-direction: column;
    height: 70vh;
    overflow: hidden;
  }
  .content {
    height: 70%;

    h1 {
      font-size: 4vh;
    }

    .contentContainer {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
      }
    }
  }
}
.html {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg");
}
.css {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg");
}
.js {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg");
}
.react {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg");
}
.node {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg");
}
.sass {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg");
}
.vite {
  background-image: url(../assets/logos/vite.png);
}
.github {
  background-image: url(../assets/logos/github.png);
}
.netlify {
  background-image: url(../assets/logos/netlify.png);
}
.figma {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg");
}
