* {
  margin: 0vh;
}

.background {
  width: 99vw;
  height: 99vh;
  filter: blur(1vh);
  position: fixed;
  top: 3vh;
  left: 0vh;
  overflow: hidden;

  z-index: -1;
}

#blobSvg {
  width: 100vw;
  height: 100vh;
}
