.projects {
  width: 100vw;
  height: 200vh;

  background: rgb(16, 22, 54);

  .preProjects {
    height: 17vh;
    position: relative;
    top: -17vh;
  }
  .projectsSmooth {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -17vh;
    background: rgb(16, 22, 54);
    background: linear-gradient(
      0deg,
      rgba(16, 22, 54, 1) 49%,
      rgba(28, 31, 89, 1) 60%,
      rgba(62, 66, 237, 1) 72%,
      rgba(112, 106, 255, 1) 85%,
      rgba(189, 101, 247, 1) 100%
    );
  }
}

// ---------------------------------------------------------------------

.test {
  width: 100vw;
  height: 100vh;
  margin-top: 5vh;
  margin-bottom: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5vh;
    font-family: "Inter", sans-serif;
  }
}

.testContainer {
  width: 90vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .card {
    height: 100%;
    width: 10%;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);

    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .image {
      width: 95%;
      height: 95%;
      border-radius: 1vh;
      background-size: 100% 100%;
      transition: 0.5s;
    }

    .text {
      height: 0%;
      width: 95%;
      color: white;
      font-size: 2vh;
      overflow: hidden;
      opacity: 0;
      font-family: "Inter", sans-serif;
      transition: 0.5s;

      p {
        text-align: center;
        font-size: 3vh;
        font-weight: bold;
      }
    }
  }

  .active {
    width: 65%;

    .text {
      height: 20%;
    }
    .image {
      height: 70%;
    }
  }
}

.aimeth {
  background-image: url(../assets/aimeth.png);
}
